body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stars-index {
  background: #000 url("https://image.ibb.co/mjnygo/stars.png");
  position: absolute;
  display:block;
  width: 100%;
}

.stars-details {
  background: #000 url("https://image.ibb.co/mjnygo/stars.png");
  position: absolute;
  display:block;
  width: 100%;
  height: 100%;
}

.title, .missions, .mission-details, .details-title {
  color: white;
}

.mission-details {
  margin: 0;
}
